In [1]:
import numpy as np

a = np.array([1,2,3,4])
b = np.array([1,2,3,4])

array([1, 2, 3, 4])

In [11]:
n = 10000000
a = np.random.rand(n)
b = np.random.rand(n)

In [13]:
import time
c = 0
tic = time.time()
for i in range(n):
    c+= a[i] + b[i]
    
tac = time.time()
print('Resultado {} in {}ms'.format(c, (tac-tic)*1000))

Resultado 10000631.102075957 in 6676.668167114258ms

In [14]:
tic = time.time()

c = np.dot(a,b)

tac = time.time()

print('Resultado {} in {}ms'.format(c, (tac-tic)*1000))

Resultado 2500123.281441848 in 328.08613777160645ms

In [18]:
import pandas as pd
df = pd.read_csv('https://bit.ly/2Ehg4Iu')
df.head()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4240 entries, 0 to 4239
Data columns (total 16 columns):
male               4240 non-null int64
age                4240 non-null int64
education          4135 non-null float64
currentSmoker      4240 non-null int64
cigsPerDay         4211 non-null float64
BPMeds             4187 non-null float64
prevalentStroke    4240 non-null int64
prevalentHyp       4240 non-null int64
diabetes           4240 non-null int64
totChol            4190 non-null float64
sysBP              4240 non-null float64
diaBP              4240 non-null float64
BMI                4221 non-null float64
heartRate          4239 non-null float64
glucose            3852 non-null float64
TenYearCHD         4240 non-null int64
dtypes: float64(9), int64(7)
memory usage: 530.1 KB

In [ ]:
%matplotlib inline
#df.plot.scatter('cigsPerDay', 'age', c='TenYearCHD', cmap='bwr')
df.plot.scatter('age', 'cigsPerDay', c='TenYearCHD', cmap='bwr')

In [ ]:
import matplotlib.pyplot as plt
plt.hist(df)
plt.show()